@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,900|Open+Sans');

/** General styles **/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0 20px;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.ham-menu {
    display: block;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background-color: #e1e1e1;
    position: relative;
    transition: all .3s cubic-bezier(.68, -0.55, .27, 1.55);
}

/** Ham menu **/
.ham-menu::after {
    content: '';
    position: absolute;
    top: 15px;

    display: block;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background-color: #e1e1e1;
    transition: transform .3s cubic-bezier(.68, -0.55, .27, 1.55);
}

.ham-menu::before {
    content: '';
    position: absolute;
    top: -15px;

    display: block;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background-color: #e1e1e1;
    transition: transform .3s cubic-bezier(.68, -0.55, .27, 1.55);
}

.ham-menu:hover {
    transform: rotate(45deg);
}

.ham-menu:hover::after {
    transform: translateY(-15px) rotate(90deg);
}

.ham-menu:hover::before {
    transform: translateY(15px) rotate(90deg);
}

/** Header bar styles **/

header{
    position: relative;
    z-index: 2;
}

header .bar {

    background: linear-gradient(#2251a0, #10427f);
    padding: 15px 0;
    box-shadow: 0 0 10px #000;
    user-select: none;
    -moz-user-select: -moz-none;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header .bar .content {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px){
    header .bar .content {
        padding: 0 40px;
    }
}

h1 {
    color: #e1e1e1;
    font-weight: 900;
    margin: 0;
}

h1 span {
    font-weight: 300;
}

@media screen and (min-width: 768px) {
    header .ham-menu {
        display: none;
    }
}

header .bar #ppal_nav {
    height: 100%;
    /** En capa de usuario cambiar por display: flex*/
    display: none;
    align-items: center;
}

header .bar #ppal_link {
    /* Crear estos estilos en capa de usuario */
    display: none;
    flex-direction: column;
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    right: 0;
}

header .bar #ppal_link a {
    display: block;
    color: #e1e1e1;
    padding: 10px 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    header .bar #ppal_link {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        background: none;
    }

    header .bar #ppal_link a {
        padding: 0px 20px;
    }
}

.btn {
    width: 150px;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #1e1e1e;
    /* transition: all .3s ease; */
}

/** Main content **/

#web_cont {
    flex: 1;
    position: relative;
    display: flex;
    height: 100%;
}

aside {
    position: absolute;
    text-align: center;
    top: -100%;
    left: 0;
    padding: 40px 20px 0 20px;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 1;
    transition: top .7s ease;
    height: 100%;
}

aside.show {
    top: 0;
}

@media screen and (min-width: 768px) {
    aside {
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        min-width: 350px;
        max-width: 400px;
    }
}

.resp_menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 90px;
    z-index: 3;
}

.resp_menu .cont {
    transform: translate(-4px) rotate(45deg);
    margin: 0 auto;
    height: 7px;
    width: 30px;
    background-color: #1e1e1e;
    position: relative;
    border-radius: 10px;
    transition: transform .3s ease;
}

.resp_menu .cont::after {
    content: '';
    height: 7px;
    width: 30px;
    background-color: #1e1e1e;
    transform-origin: 90% 50%;
    transform: rotate(90deg);
    position: absolute;
    top: 0px;
    right: 0;
    border-radius: 10px;
    transition: all .3s ease;
}

.resp_menu .cont.active {
    transform: translate(4px) rotate(45deg);
    background-color: #e1e1e1;
}

.resp_menu .cont.active::after {
    transform-origin: 50% 50%;
    background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
    .resp_menu {
        display: none;
    }
}

aside .all_content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: auto;
}

aside .text h2 {
    color: #2251a0;
}

aside .text input {
    position: relative;
    z-index: 1;
    width: 90%;
    border: 3px solid #e1e1e1;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;
    border-radius: 30px;
    transition: border-color .3s ease;
    margin-bottom: 10px;
}

aside .text input:focus {
    border-color: #2251a0;
}

.modules {
    margin: auto 0;
    margin-left: -10px;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    position: relative;
}

.module {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 25px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .3s ease;

    position: relative;
    display: table;
    height: 40px;
    min-height: 85px;
}

.module.active {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    cursor: default;
    box-shadow: 0 0 10px #000;

    height: 100%;
}

.module.active .icon {
    top: auto;
    left: 10px;
    bottom: 10px;
    font-size: 10rem;
    opacity: .1;
}

.module.active span {
    display: block;
}

.module.active:hover {
    z-index: 2;
    transform: none;
    box-shadow: 0 0 10px #000;
}

@media screen and (min-width: 768px) {
    .module:hover {
        z-index: 1;
        transform: perspective(500px) rotateX(20deg);
        box-shadow: 0 0 5px #000;
    }
}

.module span {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    display: table-cell;
    vertical-align: middle;
    font-size: 0.9em;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.module .icon {
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 10px;
    display: block;
    font-size: 3em;
    color: #000;
    opacity: .2;
}

.module-filter {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
    cursor: pointer;
}

.module-filter h3 {
    margin: 0;
    font-size: 1rem;
}

.module .filter-link {
    font-size: .8em;
    color: #1e1e1e !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0;
}

.module .module-close {
    height: 10px;
    width: 30px;
    background-color: #000;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(45deg);
    opacity: .4;
    cursor: pointer;
    z-index: 3;
}

.module .module-close::after {
    content: '';
    height: 10px;
    width: 30px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(90deg);
}

main {
    width: 100%;
    background-color: green;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    z-index: 0 !important;
}
